# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/__pycache__/
*.xml
*.iml
*.pyc
**/logs/**

/Experiments/Classification/CollectiveActivity/data/**
/Experiments/Regression/RecommendationsMovieLens/teacher/train/**
/Experiments/Regression/RecommendationsMovieLens/teacher/test/**
/Experiments/DPL/data/**
/Experiments/DPL/data_old/**
/Experiments/DPL/teacher/train**

/Experiments/Classification/CollectiveActivity/result/**
.DS_Store
trainmarkov_blanket.psl