# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/__pycache__/
*.xml
*.iml
*.pyc

/Experiments/CollectiveActivity/data/**
/Experiments/Recommendations/teacher/train/**
/Experiments/Recommendations/teacher/test/**

/Experiments/CollectiveActivity/result/**
.DS_Store