# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/__pycache__/
*.xml
*.iml
*.pyc
*_mtx.txt 

/Experiments/Classification/CollectiveActivity/data/**
/Experiments/Regression/RecommendationsMovieLens/teacher/train/**
/Experiments/Regression/RecommendationsMovieLens/teacher/test/**
/Experiments/Regression/RecommendationsMovieLens/data/**
/Experiments/Regression/RecommendationsYelp/data/**
/Experiments/Regression/RecommendationsYelp/teacher/train/**
/Experiments/Regression/RecommendationsYelp/teacher/test/**


/Experiments/Classification/CollectiveActivity/result/**
.DS_Store
trainmarkov_blanket.psl